<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>
<p>{{url}}</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts | slice: (page-1) * pageSize : page * pageSize">
      <td>{{ forecast.date }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
<p>Restricted size with rotation:</p>
<ngb-pagination [collectionSize]="forecasts.length"
                [(page)]="page"
                [maxSize]="10"
                [rotate]="true"
                [ellipses]="true"
                (pageChange)="onPaginationClick($event)"
                [boundaryLinks]="true"></ngb-pagination>
<hr />

<pre>Current page: {{page}} {{clickedPage}}</pre>
